 .service{
        text-align: center;
        width: 100vw;
        margin: auto;
        margin-top: 50px;
        background-image: url(src/assets/backgroundschiavilogo.png);
        background-size: 100vw;
        background-repeat: no-repeat;
        background-position: center top 70px;
        
        & h1{
            display: block;
            font-size: 2.2em;
            font-weight: bold;
            color: var(--GrayColor);
            margin-bottom: 20px;
            position: relative;
            
        }
        
        & p {
            
            width: 50vw;
            text-align: start;
            font-size: 1.2em;
            margin: auto;
            margin-top: 40px;
            color: black;
    
        }
        & img{
            width: 30vw;
            height: auto;
        }
    
    }
  
