 .service{
        text-align: center;
        width: 100vw;
        margin: auto;
        margin-top: 50px;
        background-image: url(src/assets/backgroundschiavilogo.png);
        background-size: 100vw;
        background-repeat: no-repeat;
        background-position: center top 70px;
        
        & h1{
            display: block;
            font-size: 2.2em;
            font-weight: bold;
            color: var(--GrayColor);
            margin-bottom: 20px;
            position: relative;
            
        }
        
        & p {
            
            width: 50vw;
            text-align: start;
            font-size: 1.2em;
            margin: auto;
            margin-top: 40px;
            color: black;
    
        }
        & img{
            width: 30vw;
            height: auto;
        }
    
    }

    .containers{
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        gap: 25px;
        justify-content: center;
    }

    /* Mobile Styles */
@media (max-width: 768px) {
   .containers{
    flex-direction: column;
    align-items: center;
   }

   .service p {
    font-size: 1em;
    width: 80vw;
   }
   .service img{
        width: 70vw;
        height: auto;
   }

}

